@media only screen and (max-width: 1024px) {

    :root {
        --paddings: 2%;
    }

    .header-nav {
        display: none;
    }

    .header-menu-button {
        display: flex;
    }

    .section1 {
        height: 100vh;
    }

    .section1 > h1 {
        font-size: 32px;
    }

    .section1 > h2 {
        font-size: 55px;
    }

    .section1 > p {
        font-size: 18px;
    }

    .section2 {
        flex-direction: column;
        height: 1000px;
    }

    .sec2-left {
        width: 100%;
        height: 40%;
    }

    .sec2-left > h1 {
        font-size: 36px;
    }

    .sec2-left > h2 {
        font-size: 28px;
        margin-top: -30px;
    }

    .sec2-left > p {
        font-size: 12px;
    }

    .sec2-right {
        width: 100%;
        height: 60%;
    }

    .sec2-img1 {
        width: 100%;
    }

    .sec2-img2 {
        display: none;
    }

    .sec3-slider-next,.sec3-slider-perv {
        width: 20px;
        height: 20px;
    }

    .sec3-left {
        display: none;
    }

    .sec3-right {
        display: none;
    }

    .sec3-center {
        width: 100%;
        height: 100%;
    }

    .sec3-center > h1 {
        font-size: 42px;
    }

    .sec3-center > h2 {
        font-size: 28px;
        margin-top: -10px;
    }

    .section3 > ul > li:nth-child(1) > .sec3-center {
        background-image: url(img/sec3-card1.png);
        filter: initial;
    }

    .section3 > ul > li:nth-child(2) > .sec3-center {
        background-image: url(img/sec3-card2.png);
        filter: initial;
    }

    .section3 > ul > li:nth-child(3) > .sec3-center {
        background-image: url(img/sec3-card3.jpg);
        filter: initial;
    }

    .section4 {
        flex-direction: column;
        height: 1000px;
    }

    .sec4-left {
        width: 100%;
        height: 50%;
    }

    .sec4-right {
        width: 100%;
        height: 50%;
    }

    .sec4-right > h1 {
        font-size: 40px;
    }

    .sec4-right > h2 {
        font-size: 28px;
        margin-top: -30px;
    }

    .sec4-right > p {
        font-size: 12px;
        line-height: 25px;
    }

    .section5 > h1 {
        font-size: 36px;
    }

    .section5 > h2 {
        font-size: 28px;
        margin-top: -15px;
    }

    .section6{
        width: 100%;
        height: auto;
        flex-direction: column;
    }
    
    .section6-text{
        width: 100%;
        height: 520px;
    }

    .section6-text > h1{
        font-size: 40px;
    }

    .section6-text > h2 {
        margin-top: -20px;
        font-size: 28px;
    }

    .section6-text > p {
        font-size: 12px;
    }

    .section6-text > a {
        font-size: 16px;
    }

    .section6-text > h2 > img{
        width: 90%;
    }

    .section6-img{
        width: 100%;
        height: 300px;
    }

    .section7 > img{
        width: 310px;
    }

    .section7 > form{
        width: 300px;
    }

    .foot-p{
        font-size: 13px;
        text-align: center;
        padding: 0 20px;
    }

    footer > h3{
        text-align: center;
    }

}

@media only screen and (max-width: 350px) {
    .section1 > img {
        width: 100%;
    }

    .sec2-left > img {
        width: 100%;
    }

    .sec4-right > img {
        width: 100%;
    }
}